<mat-toolbar color="primary">
  <span>Fleet Assistant</span>
</mat-toolbar>

<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-5">404</h1>
      <h2>Storna nie została znaleziona...</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button mat-raised-button
              color="primary" class="mx-3 mb-3" routerLink="/s">Strona startowa</button>
      <button mat-raised-button color="primary" class="mx-3" routerLink="/dashboard">Panel użytkownika</button>
    </div>
  </div>
</div>


