<div class="row">
  <div class="column left">

  </div>
  <div class="column middle">
    <ng-container *ngIf="drivers">
      <mat-accordion class="example-headers-align detailsFont">
        <mat-expansion-panel *ngFor="let driver of drivers" (click)="showSharedVehicles(driver.id)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{driver.email}}
            </mat-panel-title>
            <mat-panel-description>
              Konto utworzono: {{driver.createdAt | date : 'dd/MM/yyyy'}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let vehicle of vehicleList">
              <button mat-stroked-button color="warn" class="p-1 m-2" (click)="confirmDialog(vehicle.id)" >Usuń</button>
              {{vehicle.make}} | {{vehicle.model}} | {{vehicle.vehicleRegistrationNumber}} | {{vehicle.year}}
            </mat-list-item>
          </mat-list>

        </mat-expansion-panel>

      </mat-accordion>
    </ng-container>
  </div>
  <div class="column right">

  </div>
</div>
