<div class="container col-md-6 offset-md-3">
  <mat-card>
    <mat-card-title>Zmień swoje hasło</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col m-1">
            <mat-form-field>
              <mat-label>Stare hasło</mat-label>
              <input type="password" matInput [formControl]="f.oldPassword" required />
              <mat-error *ngIf="f.oldPassword.hasError('required')">
                Stare hasło jest <strong>obowiązkowe</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col m-1">
            <mat-form-field>
              <mat-label>Nowe hasło</mat-label>
              <input type="password" matInput [formControl]="f.newPassword" required />
              <mat-error *ngIf="f.newPassword.hasError('required')">
                Nowe hasło jest <strong>obowiązkowe</strong>
              </mat-error>
              <mat-error *ngIf="f.newPassword.hasError('minlength')">
                Nowe hasło musi składać się co najmnej z <strong>8</strong> znaków
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col m-1">
            <mat-form-field>
              <mat-label>Potwierdź nowe hasło</mat-label>
              <input type="password" matInput [formControl]="f.confirmPassword" required />
              <mat-error *ngIf="f.confirmPassword.hasError('required')">
                Potwierdzenie nowego hasła jest <strong>obowiązkowe</strong>
              </mat-error>
              <mat-error *ngIf="f.confirmPassword.hasError('mustMatch')">
                Hasła są różne
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions class="text-center m-1">
          <button [disabled]="!form.valid" mat-raised-button color="primary" class="ml-3">
            Zmień hasło
          </button>
          <a routerLink="../details" mat-raised-button color="warn" class="ml-3 mt-3">Anuluj </a>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>

