<button routerLink="../create" [queryParams]="query" mat-raised-button color="primary" class="mt-1 mb-2"> Dodaj nowe tankowanie</button>
<button *ngIf="currentUser.roles === 'ROLE_SUPERUSER'" routerLink="/dashboard/vehicle/details/{{vehicleId}}" mat-raised-button color="warn" class="mt-1 mb-2 mx-2">Powrót do pojazdu</button>
<button *ngIf="currentUser.roles === 'ROLE_USER'" routerLink="/dashboard/sharedVehicle/details/{{vehicleId}}" mat-raised-button color="warn" class="mt-1 mb-2 mx-2">Powrót do pojazdu</button>
<ng-container>
  <mat-form-field>
    <mat-label>Wyszukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Wyszukiwanie wg. dowolnej kolumny" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- RefuelingDate Column -->
      <ng-container matColumnDef="refuelingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data tankowania </th>
        <td mat-cell *matCellDef="let row"> {{row.refuelingDate}} </td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Koszt tankowania (zł)</th>
        <td mat-cell *matCellDef="let row"> {{row.cost | currency:'':''}} </td>
      </ng-container>

      <!-- Details Link Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef > Szczegóły </th>
        <td mat-cell *matCellDef="let row" > <a routerLink="../details/{{row.id}}" mat-raised-button > Szczegóły </a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 30]"></mat-paginator>
  </div>
</ng-container>
