<ng-container *ngIf="insurance && vehicle">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Dane ubezpieczenia </mat-card-title>
    </mat-card-header>
    <mat-card-content class="detailsFont">
      <div>
        <img class="mb-4" src="assets/img/car-insurance.svg" alt="" width="100" height="100">
      </div>
      <mat-card-subtitle class="my-3"><strong>Pojazd:</strong></mat-card-subtitle>
      <div class="row">
        <div class="col-md-4 py-1">
          <p><strong>Marka:</strong> {{ vehicle.make}} </p>
        </div>
        <div class="col-md-4 py-1">
          <p><strong>Model:</strong> {{ vehicle.model }}</p>
        </div>
        <div class="col-md-4 py-1">
          <p><strong>Model:</strong> {{ vehicle.vehicleRegistrationNumber }}</p>
        </div>
      </div>
      <mat-card-subtitle class="my-3"><strong>Ubezpieczenie:</strong></mat-card-subtitle>

      <div class="row">
        <div class="col-md-4 py-1">
          <p><strong>Data rozpoczęcia:</strong> {{ insurance.effectiveDate }} </p>
        </div>
        <div class="col-md-4 py-1">
          <p><strong>Data ważności:</strong> {{ insurance.expirationDate }} </p>
        </div>
        <div class="col-md-4 py-1">
          <p><strong>Numer polisy:</strong> {{ insurance.policyNumber }} </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 py-1">
          <p><strong>Typ polisy:</strong>  {{ insurance.insuranceType }} </p>
        </div>
        <div class="col-md-4 py-1">
          <p><strong>Koszt ubezpieczenia (zł):</strong>  {{ insurance.cost | currency:'':'' }} </p>
        </div>
        <div class="col-md-4 py-1">
          <p><strong>Uwagi dodatkowe:</strong> {{ insurance.description }} </p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button routerLink="../../update/{{insurance.id}}" mat-raised-button color="primary" class="p-1">Edytuj dane</button>
      <button routerLink="../list" mat-raised-button color="warn" class="p-1 my-2">Usuń przegląd</button>
      <button routerLink="../../list" [queryParams]="query" mat-raised-button class="p-1 my-2">Powrót</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
