.iconPadding {
  padding: 0 14px;
}

.iconSpacer {
  flex: 1 1 auto;
}

.height {
  height: 100vh;
}

.link:hover   { color: #000000; text-decoration: none; }

.dashboardNavLink:link    { color: #ffffff; text-decoration: none; }
.dashboardNavLink:visited { color: #ffffff; text-decoration: none; }
.dashboardNavLink:hover   { color: #ffffff; text-decoration: none; }
.dashboardNavLink:active  { color: #ffffff; text-decoration: none; }

.dashboardMail:link    { text-decoration: none; }
.dashboardMail:visited { text-decoration: none; }
.dashboardMail:hover   { text-decoration: none; }
.dashboardMail:active  { text-decoration: none; }

