<ng-container *ngIf="userData">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Twoje dane </mat-card-title>
    </mat-card-header>
    <mat-card-content class="detailsFont">
      <div>
        <img class="mb-4" src="assets/img/driving-license.svg" alt="" width="100" height="100">
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><strong>Imię:</strong>  {{ userData.name}} </p>
        </div>
        <div class="col-md-4">
          <p><strong>Nazwisko:</strong>   {{ userData.surname }}</p>
        </div>
        <div class="col-md-4 py-1">
          <p><strong>Numer telefonu:</strong>  {{ userData.phoneNumber }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p><strong>Miasto:</strong>  {{ userData.address.city }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Ulica:</strong>  {{ userData.address.street }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Numer budynku:</strong>  {{ userData.address.buildingNumber }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p><strong>Numer mieszkania:</strong>  {{ userData.address.flatNumber }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Kod pocztowy:</strong> {{ userData.address.postalCode }}</p>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button routerLink="../update" mat-raised-button color="primary" >Edytuj dane</button>
      <button routerLink="/dashboard" mat-raised-button>Powrót</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

