<mat-card>
  <mat-card-header>
    <mat-card-title> Twoje dane </mat-card-title>
  </mat-card-header>
  <ng-container>
    <mat-card-content class="detailsFont" *ngIf="userAddressAndData">
      <div class="">
        <img class="mb-4" src="assets/img/driving-license.svg" alt="" width="100" height="100">
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><strong>Imię:</strong>  {{ userAddressAndData.userData.name }} </p>
        </div>
        <div class="col-md-4">
          <p><strong>Nazwisko:</strong>   {{ userAddressAndData.userData.surname }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Numer telefonu:</strong>  {{ userAddressAndData.userData.phoneNumber }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p><strong>Miasto:</strong>  {{ userAddressAndData.city }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Ulica:</strong>  {{ userAddressAndData.street }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Numer budynku:</strong>  {{ userAddressAndData.buildingNumber }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p><strong>Numer mieszkania:</strong>  {{ userAddressAndData.flatNumber }}</p>
        </div>
        <div class="col-md-4">
          <p><strong>Kod pocztowy:</strong> {{ userAddressAndData.postalCode }}</p>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button routerLink="/dashboard/userData/update" mat-raised-button color="primary" >Edytuj dane</button>
      <button routerLink="/dashboard" mat-raised-button>Powrót</button>
    </mat-card-actions>
  </ng-container>
</mat-card>

