/* You can add global styles to this file, and also import other style files */
body {
  background: #fbfbfb;
}

.input-full-width {
  width: 100%;
}

.detailsFont {
  font-size: larger;
  font-family: 'Armata', sans-serif;
}

.dashboardTitle {
  font-size: xx-large;
  font-family: 'Crimson Text', serif;
}

.chart {
  height: 370px;
  width: 100%;
}

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
