/* You can add global styles to this file, and also import other style files */
body {
  background: #fbfbfb;
}

.input-full-width {
  width: 100%;
}

.detailsFont {
  font-size: larger;
  font-family: 'Armata', sans-serif;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
