<header class="header">
  <div class="blue">
    <img src="assets/img/header-shepe-blue.png" alt="">
  </div>
  <div class="white">
    <img src="assets/img/header-shepe-white.png" alt="">
  </div>
  <div class="container">
    <img class="shepe1" src="assets/img/shepe1.png" alt="">
    <img class="shepe2" src="assets/img/shepe2.png" alt="">
    <img class="shepe3" src="assets/img/shepe2.png" alt="">
    <img class="shepe4" src="assets/img/shepe2.png" alt="">
    <img class="shepe5" src="assets/img/shepe1.png" alt="">
    <img class="shepe6" src="assets/img/shepe2.png" alt="">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="logo">
          <h2><a >Fleet Assistant</a></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="header-text">
          <h1>Zarządzaj swoją flotą</h1>
          <p>Fleet Assistant to aplikacja internetowa wspierająca zarządzanie i utrzymanie <br> floty pojazów. Umożliwa ona ewidencję kosztów utrzymania średnich i małych <br> flot pojazdów.</p>
          <button routerLink="/account/register">Rejestracja</button>
          <button routerLink="/account/login">Logowanie</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="another-text">
          <h3>Trzy proste kroki</h3>
          <p>Aby zacząć korzystać z aplikacji wystarczą tylko trzy proste kroki.</p>
        </div>
      </div>
    </div>
  </div>
</header>
