<section class="development">
  <div class="blue">
    <img src="assets/img/development-shepe-blue.png" alt="">
  </div>
  <div class="white">
    <img src="assets/img/development-shepe-white.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="design-development one">
          <i class="material-icons">assignment_ind</i>
          <h2>Zarejestruj się</h2>
          <p>Prosta rejestracja wymagająca jedynie adresu e-mail.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="design-development two">
          <i class="material-icons">drive_eta</i>
          <h2>Dodaj swoje pojazdy</h2>
          <p>Możliwość wprowadzenia szczegółowych informacji o pojazdach.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="design-development three">
          <i class="material-icons">desktop_windows</i>
          <h2>Zarządzaj flotą</h2>
          <p>Ewidencja kosztów, zmiana statusu pojazdów oraz wiele innych funkcji. </p>
        </div>
      </div>
    </div>
  </div>
</section>
